/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Oswald:wght@200;300;400;500;600;700&family=Roboto&family=Rowdies:wght@300;400;700&family=Vina+Sans&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */

}

/* Title styles*/

h1 {
    font-family: 'Acme', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
    /* Reset margin to ensure no extra space around h1 */
}

/* Heading 2 */
h2 {
    font-family: 'Acme', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    /* Add more styles as needed */
}

/* Heading 3 */
h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    /* Add more styles as needed */
}

/* Heading 4 */

h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    /* Add more styles as needed */
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;

    /* Add more styles as needed */
}

header {
    background-color: #ffffff;
    padding: 0 1rem;
    z-index: 100;
    /* Increase the z-index to ensure the h1 is above the navigation */
    width: 100%;
    position: relative;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Adjust the shadow as needed */
}

header h1 {
    font-size: 2rem;
}


/*nav styles*/
.active {
    border-bottom: 1px solid #3a3a3a;
}

header a {
    text-decoration: none;
    color: inherit;
}





nav {
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    align-self: flex-end;
    z-index: 99;
    position: absolute;
    top: 100%;
}

ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    /* Center the list items horizontally */
}

li {
    margin-right: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
}

a:hover {
    color: #3498db;
}

/*toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    cursor: pointer;
    position: relative;
}

/* Default icon */
.nav-toggle-label::before {
    content: '\f0c9';
    /* Font Awesome 'Hamburger' icon */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 24px;
    color: #333;
    position: absolute;
    top: calc(50% - 7px);
    /* Move 5px up */
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;

    /* Add a smooth transition effect */
}

/* Change icon when toggle is checked */
#nav-toggle:checked+.nav-toggle-label::before {
    content: 'X';
    /* Font Awesome 'Check' icon */
}

/*toggle for form*/

#nav-toggle-form:checked~nav {
    display: block;
}

#nav-toggle-form {
    display: none;
}

.nav-toggle-label-form {
    cursor: pointer;
    position: relative;
}

.nav-toggle-label-form::before {
    content: '\f0c9';
    /* Font Awesome 'Hamburger' icon */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1.5rem;
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
    /* Add a smooth transition effect */
}

/* Change icon when toggle is checked */
#nav-toggle-form:checked+.nav-toggle-label-form::before {
    content: 'X';
    /* Font Awesome 'Check' icon */
}

/*form background*/
#form-background-img {
    width: 100%;
    height: 100%;
}

/*her0*/

#hero {
    margin-top: 2px;
    background-color: #3498db;
    background: url('../images/hero-img.jpg')no-repeat center center/cover;
    height: 600px;
    width: 100%;
    position: relative;


}

#hero-text {
    background-color: rgba(107, 199, 241, 0.5);
    position: absolute;
    top: 370px;
    width: 70%;
    right: 0;
    padding: 40px 10px;
    /* 0 for top and bottom, 10px for left and right */


}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0px;
    padding: 5px;
    flex: 1;

}

#main-content-container {
    flex-grow: 1;
    /* This makes it expand to fill the available space */
    /* Add other styles as needed */
}

#spotted-title h2 {
    background-color: palevioletred;
    margin-top: 30px;
    width: 70%;
    padding-left: 5px;
}

#spotted {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    margin-top: 30px;
    padding-bottom: 30px;
    background: url('../images/vegetation-img.jpg')no-repeat center center/cover;
    flex-direction: column;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    /* Set your text color */

}

#spotted-div {

    margin-top: 30px;
    flex-direction: column;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    ;
    border-bottom: 5px solid white;
}

#main-content-container i {
    font-size: 2rem;
    color: #ffffff;
    padding: 10px;
    margin-left: 20px;
}

#spotted h2 {
    font-size: 3rem;
}

#spotted-text {
    color: white;
    display: flex;
    padding: 15px;
    border-bottom: 1px solid wheat;
    background-color: rgba(236, 135, 198, 0.4);
    width: 100%;
    font-weight: 600;
}



#spotted h5 {
    color: white;
    font-size: 1rem;
    font-weight: 600;


}

/*break theme*/
.image-container {
    display: flex;
    overflow: hidden;
    margin: 10px;
    border-radius: 15px;

    margin-top: 20px;

}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image {
    position: relative;
    flex: 1;
}

.title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    color: white;
    z-index: 1;
}

/*wild life styles */

#wildlife-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    
    display: none;

}

#wildlife {
   

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
    background-size: 100px;
    

}

#wildlife #wild-life-title {
    padding: 10px 0px 5px 10px;
    color: #ffffff;
    background: url('../images/deer-fight-background-img.jpg') no-repeat center center/cover;
  
    width: 100%;
    height: 300px;

}

#wild-life-title h2 p {
    font-size: 1rem;
    color: #ffffff;
    /* Change the color to your desired color */
    margin-top: 200px;
    background-color: rgba(236, 135, 198, 0.4);
    padding: 10px;

}

#wildlife #wild-life-title label {
    display: block;
    width: 100%;
    height: 100%;
}

#wildlife-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    display: none;
}

#wildlife #wild-life-title #wild-life-title-text {
    padding: 10px 5px;
    color: #ffffff;
    background-color: rgba(219, 112, 147, 0.3);
    margin-bottom: 20px;
    margin-left: 0;
    /* Align to the far left */


}

/*wild life toggle*/
#toggleCheckbox {
    display: none;
}

#toggleCheckbox:checked+#wild-life-title {
    background-color: rgba(219, 112, 147, 0.3);
    background-image: none;
    /* Hide the background image */
    height: 50px;
    margin-bottom: 0;
}

#toggleCheckbox:checked+#wild-life-title+#wildlife-container {
    display: block;
    margin-top: 0px;
    /* Adjust the value as needed */

}

#toggleCheckbox:checked+#wild-life-title {

    display: block;
}

#toggleCheckbox:checked~#wild-life-title h2::before {
    content: ' X CLOSE ';
    text-decoration: underline;
    display: flex;
    justify-content: flex-end;
    /* Align to the left side */
    padding-right: 5%;
    /* Leave 20% space on the right */
}

#toggleCheckbox:not(:checked)~#wild-life-title h2::before {
    content: 'WILD LIFE ';
    background-color: rgba(4, 101, 2, 0.3);
    display: flex;
    max-width: 100%;
    padding-left: 10px;
    margin-left: 100px;
}




#wildlife-container #wildlife-line-one div {
    color: #ffffff;
    display: flex;
    background-color: rgba(1, 69, 35, 0.6);
    font-weight: 600;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;

}

#wildlife-container #wildlife-line-two div {
    color: #ffffff;
    display: flex;
    background-color: rgba(1, 69, 35, 0.6);
    font-weight: 600;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;

}

#wildlife-container #wildlife-line-one #middle-p {

    font-size: 1rem;
    background-color: rgba(219, 112, 147, 0.8);
    border-radius: 15px;
    border: 1px solid #fbfafa;
    padding: 15px;
    /* Adjust the value as needed */
    width: 90%;
    margin: 0 auto;
    /* Center horizontally */
    margin-bottom: 30px;


}

#wildlife-container #wildlife-line-two #middle-p {
    font-size: 1rem;
    background-color: rgba(219, 112, 147, 0.8);
    border-radius: 15px;
    border: 1px solid #fbfafa;
    padding: 15px;
    /* Adjust the value as needed */
    width: 90%;
    margin: 0 auto;
    /* Center horizontally */
    margin-bottom: 30px;

}



#middle-p h2 {
    padding: 5px;
    font-size: 1.5rem;

}

.animal {


    box-sizing: border-box;
    width: 100%;
    margin-bottom: 80px;

}

#wildlife-line-one #animal-paragraph {
    padding: 5px;
    font-size: 1rem;
}

#wildlife-line-two #animal-paragraph {
    padding: 5px;
    font-size: 1rem;
}

.animal img {
    width: 100%;
    /* Make sure the image fills the entire width of its parent div */
    height: 350px;
    /* Maintain the image's aspect ratio */
}

/* Optional: Style the text inside the divs */
.animal h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-left: 5px;
}

.animal p {
    font-size: 1em;
    line-height: 1.4;
}


/* Styles for the Ways to Explore Section */
#ways-to-explore {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 0;
    color: white;
    background: url('../images/explore-background-img.jpg') no-repeat center center/cover;

}

#ways-to-explore h2 {

    margin-bottom: 10px;
    color: #333;


}

/* Styles for Each Explore Item */
.explore-item {
    flex: 1;
    margin-top: 0px;
    border-bottom: 2px solid white;
    background-color: rgba(0, 11, 0, 0.3);

}

.fa-icon {
    font-size: 1.5rem;
    position: absolute;
    right: 10px; /* Adjust the margin as needed */
   
    transform: translateY(-20%); /* Adjust for vertical centering */
    padding: 10px;
}

/* Styles for Explore Title */
.explore-title {
    font-size: 1.5rem;
    color: #fbfafa;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    padding-left: 5px;
    background-color: rgba(2, 51, 1, 0.3);


}

/* Styles for Explore Text */
.explore-text {
    font-size: 1rem;
    color: #fbfafa;
    padding: 10px 5px;
}

/*footer*/
#footer-links {
    background-color: rgba(115, 154, 173, 0.2);
    text-align: center;
    padding: 20px 0;
    z-index: 100;
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#footer-links i {
    font-size: 160%;
    padding: 5%;
    color: #333;
}


/* Your existing styles go here */
#map-section {
    position: relative;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 20px;
    max-width: 100%;
    padding-top: 20px;
    overflow: hidden;
    /* Ensure child elements respect the border-radius */
}

#map-section h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    position: absolute;
    left: 10px;
    /* Adjust this value as needed */
    top: 0;
    /* Adjust this value as needed */
}

#map-section.zoomed {
    transform: scale(1.2);
    /* Adjust the scale factor for the desired zoom level */
}

#map {
    width: 100%;
    max-width: 100%;
    /* Adjust the max-width as needed */
    height: 200px;
    /* Adjust the height as needed */
    border: 1px solid #333;
    border-radius: 10px;
    /* Rounded border */

}

/* Styles for the Impression Form */
#impression-form {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Center vertically */
    height: 100vh;
    /* Set the height to 100% of the viewport height */
    max-width: 400px;
    background: url('../images/form-background-img.jpg') no-repeat center center/cover;
    color: #fff;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
}

/* Styles for Form Inputs */
input,
textarea {

    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Styles for Submit Button */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Styles for Redirect Label */
#redirectLabel {
    display: none;
}

/* Redirect logic when the radio button is checked */
#redirectRadio:checked+#redirectLabel {
    content: url("../index.html");
    /* Replace "index.html" with your actual redirection URL */
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/*gallery styling*/
/* Gallery page */
#photos img {
    width: 100%;
    line-height: 1em;
    height: 300px;
}

#photos {
    line-height: 0;
    margin-top: auto;
}

#gallery-title {
    background: url('../images/gallery-background-img.jpg') no-repeat center center/cover;
    color: #fff;

    padding: 10px;
    margin-bottom: 10px;
}

/*
<a href="https://www.freepik.com/free-ai-image/wild-elk-nature-with-wilderness-landscape_78536455.htm#fromView=search&term=deer+fight&page=1&position=11&track=ais_ai_generated&regularType=ai">Image By freepik</a>
<a href="https://www.freepik.com/free-ai-image/vibrant-daisy-blossom-tranquil-meadow-sunset-generated-by-ai_42735337.htm#fromView=search&term=nature&page=2&position=26&track=ais_ai_generated&regularType=ai">Image By vecstock</a>
<a href="https://www.freepik.com/free-ai-image/abstract-creative-3d-sphere-with-vegetation_72442070.htm#fromView=search&term=fern&page=1&position=32&track=ais_ai_generated&regularType=ai">Image By freepik</a>
<a href="https://www.freepik.com/free-ai-image/standing-backpacker-mountain-peak-achieving-success-generated-by-ai_43018009.htm#fromView=search&term=explore&page=1&position=3&track=ais_ai_generated&regularType=ai">Image By stockgiu</a>
<a href="https://www.freepik.com/free-vector/forest-animals-color-set-with-isolated-images-small-big-wild-animals-with-flowers-leaves-vector-illustration_26762879.htm#page=2&query=animals%20pictograms&position=6&from_view=search&track=ais">Image by macrovector</a> on Freepik
<a href="https://www.freepik.com/free-photo/heron-everglades_28944507.htm#query=heron&position=0&from_view=search&track=sph">Image by kamchatka</a> on Freepik
*/

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #wildlife {

        

    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #spotted {
        height: 120%;
        display: flex;
        width: 100%;

    }

    #spotted-text {
        color: white;
        display: flex;
        padding: 15px;
        border-bottom: 1px solid wheat;
        background-color: rgba(236, 135, 198, 0.4);
        width: 100%;
        font-weight: 600;

        /* Set the width to 70% */

    }

}


/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    

    #main-content-container {
        display: flex;
    
        align-items: stretch;
        padding: 20px;
       
    } 
    #main-content-container h2 {
    position: absolute;
    }

    #spotted {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    #spotted-div {
        margin-bottom: 20px; /* Adjust as needed for spacing between spotted-divs */
    }

    #autumn-in-the-park {
        flex: 1;
        display: flex;
        flex-direction: row;
        
    }

    .image-container {
        display: flex;
        flex-direction: column;
        overflow: hidden;
       margin-top: 30px;
        border-radius: 15px;
        margin-bottom: 0px;
        
      
    }


    img {
        max-width: 100%;
        height: auto;
    }

   /* Styles for Wildlife Section */
#wildlife {
border: 1px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
 }

#wild-life-title {
    padding: 10px 0 5px 10px;
    color: #ffffff;
    background: url('../images/deer-fight-background-img.jpg') no-repeat center center/cover;
    
    width: 100%;
    max-height: 70px;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

#wild-life-title h2 p {
    font-size: 1rem;
    color: #ffffff;
    margin-top: 0;
    background-color: rgba(236, 135, 198, 0.4);
    padding: 10px;
    display: none;
}

#wildlife-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
  

}

#wildlife-container #wildlife-line-one,
#wildlife-container #wildlife-line-two {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

#wildlife-container .animal {
    box-sizing: border-box;
    width: 80%;
    margin-bottom: 20px;
    margin: 10px 10px;
}

#wildlife-container .animal img {
    width: 100%;
    height: 250px;
    object-fit: cover;

}

#wildlife-container .animal h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-left: 5px;
}

#wildlife-container .animal p {
    font-size: 1rem;
    line-height: 1.4;
    padding: 0 5px;
}

#wildlife-container #middle-p {
    font-size: 1rem;
    background-color: rgba(219, 112, 147, 0.8);
    border-radius: 15px;
    border: 1px solid #fbfafa;
    height: 70%;
    width: 100%;
    align-self: center;
    margin-bottom: 10px;
}

#wildlife-container #middle-p h2 {
    padding: 5px;
    font-size: 1.5rem;
}

#wildlife-container #wildlife-line-one #animal-paragraph,
#wildlife-container #wildlife-line-two #animal-paragraph {
    padding: 5px;
    font-size: 1rem;
}
#toggleCheckbox:checked+#wild-life-title {
    background-color: rgba(219, 112, 147, 0.7);
    background-image: none;
    height: 150px;
    margin-bottom: 0;
}
#toggleCheckbox:checked~#wild-life-title h2::before {
    content: 'WILD LIFE ';
  font-size: 180%;
    display: block;
    justify-content: flex-start;
    padding: 0px 0 0px 0px; /* Added padding */
  text-decoration: none;
    padding-left: 5%;
    
  
}

#toggleCheckbox:checked+#wild-life-title+#wildlife-container {
    display: block;
    margin-top: 70px;
    /* Adjust the value as needed */

}
}

