/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Oswald:wght@200;300;400;500;600;700&family=Roboto&family=Rowdies:wght@300;400;700&family=Vina+Sans&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */

}

/* Title styles*/

h1 {
    font-family: 'Acme', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
    /* Reset margin to ensure no extra space around h1 */
}

/* Heading 2 */
h2 {
    font-family: 'Acme', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    /* Add more styles as needed */
}

/* Heading 3 */
h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    /* Add more styles as needed */
}

/* Heading 4 */

h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    /* Add more styles as needed */
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;

    /* Add more styles as needed */
}

header {
    background-color: #ffffff;
    padding: 0 1rem;
    z-index: 100;
    /* Increase the z-index to ensure the h1 is above the navigation */
    width: 100%;
    position: relative;
    box-shadow: 0 1px px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    /* Adjust the shadow as needed */
}

header h1 {
    font-size: 2rem;
}


/*nav styles*/
.active {
    border-bottom: 1px solid #3a3a3a;
}

header a {
    text-decoration: none;
    color: inherit;
}





nav {
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    align-self: flex-end;
    z-index: 99;
    position: absolute;
    top: 100%;
}

ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    /* Center the list items horizontally */
}

li {
    margin-right: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
}

a:hover {
    color: #3498db;
}

/*toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    cursor: pointer;
    position: relative;
}

/* Default icon */
.nav-toggle-label::before {
    content: '\f0c9';
    /* Font Awesome 'Hamburger' icon */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 24px;
    color: #333;
    position: absolute;
    top: calc(50% - 7px);
    /* Move 5px up */
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;

    /* Add a smooth transition effect */
}

/* Change icon when toggle is checked */
#nav-toggle:checked+.nav-toggle-label::before {
    content: 'X';
    /* Font Awesome 'Check' icon */
}

/*toggle for form*/

#nav-toggle-form:checked~nav {
    display: block;
}

#nav-toggle-form {
    display: none;
}

.nav-toggle-label-form {
    cursor: pointer;
    position: relative;
}

.nav-toggle-label-form::before {
    content: '\f0c9';
    /* Font Awesome 'Hamburger' icon */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1.5rem;
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
    /* Add a smooth transition effect */
}

/* Change icon when toggle is checked */
#nav-toggle-form:checked+.nav-toggle-label-form::before {
    content: 'X';
    /* Font Awesome 'Check' icon */
}

/*form background*/
#form-background-img {
    width: 100%;
    height: 100%;
}

/*her0*/

#hero {
    box-shadow: 0 4px 8px rgba(193, 166, 166, 0.5);
    margin-top: 2px;
    background-color: #3498db;
    background: url('../images/hero-img.jpg')no-repeat center center/cover;
    height: 600px;
    width: 100%;
    position: relative;


}

#hero-text {
    background-color: rgba(107, 199, 241, 0.5);
    position: absolute;
    top: 370px;
    width: 70%;
    box-shadow: 0 4px 8px rgba(250, 250, 248, 0.3);

    right: 0;
    padding: 40px 10px;
    /* 0 for top and bottom, 10px for left and right */


}

/*about NP Killarney*/

.about-np-section {
    background-color: white;
    overflow: hidden;
    padding-top: 70PX;
  

}

.about-np-circle {
    box-shadow: 0 4px 8px rgba(101, 64, 64, 0.5);
    /* Adjust the values as needed */

    width: 150px;
    height: 150px;

    overflow: hidden;
    margin: 20px;
    float: left;
}

.about-np-image {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

#about-np-circle-bottom {
    box-shadow: 0 4px 8px rgba(188, 183, 183, 0.2);
    max-width: 100%;
    height: 250px;
    margin-bottom: 5px;


}

.ilustration-bottom-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px;

}

.ilustration-bottom-img {
    box-shadow: 0 4px 8px rgba(101, 64, 64, 0.7);
    /* Adjust the values as needed */

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    align-self: center;
}

#ilustration-bottom-container {
    width: 100%;
    height: 100%;
    margin: 40px 0px;

    display: flex;
    align-self: center;

    position: relative;

}

#proverb {
    position: absolute;
    bottom: -30px;
    /* Adjust the bottom spacing as needed */
    left: 50%;
    transform: translateX(-50%);
    color: #333;
    /* Text color */
    font-weight: 600;
    /* Font weight */
    text-align: center;
    /* Center the text */
    width: 100%;
    /* Make sure it spans the entire width */
}


.about-np-image-bottom {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(193, 166, 166, 0.5);


}

.about-np-text {
    text-align: justify;
    margin: 5px;


}

.about-np-title {
    box-shadow: 0 4px 8px rgba(101, 64, 64, 0.2);
    /* Adjust the values as needed */

    font-size: 2rem;
    font-weight: bold;

    padding: 20px 55px;
    background-color: rgba(2, 51, 1, 0.3);
    background: url(../images/ilustration-background.jpg) no-repeat center center/cover;
    text-align: end;
    width: 100%;

}

.about-np-description {
    font-size: 1rem;
    color: #333;
    padding: 5px;


}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0px;
    padding: 5px;
    flex: 1;

}

#main-content-container {
    flex-grow: 1;
  
    margin-bottom: 15px;
}

#spotted-title h2 {
    background-color: palevioletred;
    margin-top: 30px;
    width: 70%;
    padding-left: 5px;
}

#spotted {
    height: 100%;
    box-shadow: 0 4px 8px rgba(193, 166, 166, 0.5);
    width: 100%;
    border-radius: 15px;
    margin-top: 30px;
    padding-bottom: 30px;
    background: url('../images/vegetation-img.jpg')no-repeat center center/cover;
    flex-direction: column;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    /* Set your text color */

}

#spotted-div {

    margin-top: 30px;
    flex-direction: column;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    ;
    border-bottom: 5px solid white;
}

#main-content-container i {
    font-size: 2rem;
    color: #ffffff;
    padding: 10px;
    margin-left: 20px;
}

#spotted h2 {
    font-size: 3rem;
}

#spotted-text {
    color: white;
    display: flex;
    padding: 15px;
    border-bottom: 1px solid wheat;
    background-color: rgba(236, 135, 198, 0.4);
    width: 100%;
    font-weight: 600;
}



#spotted h5 {
    color: white;
    font-size: 1rem;
    font-weight: 600;


}

/*break theme*/
.image-container {
    display: flex;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(193, 166, 166, 0.5);

    border-radius: 15px;
    margin-bottom: 30px;
    border-left: 2px solid white;
    margin-top: 20px;

}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image {
    position: relative;
    flex: 1;

}

.title {

    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    color: white;
    z-index: 1;
}

/* USERS GALLERY STYLES*/
.users-gallery-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    margin: 0;
    z-index: 2;
}

/* Style for the "(click to see)" text */
.click-to-see-users-gallery {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    margin: 0;
    z-index: 2;
    cursor: pointer;
}

#users-gallery-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    
}

#user-image {
    text-align: center;

}

#user-image img {
    max-width: 100%;

    box-shadow: 0 4px 8px rgba(101, 64, 64, 0.4);
    /* Adjust the values as needed */

}

#user-name {

    font-size: 18px;
    color: #333;
}

#user-description {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    color: #333;
}

#autumn-gallery-header-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Aligns content to the bottom */
    align-items: center;
    /* Centers content horizontally */

    margin-top: auto;
    /* Aligns to the bottom */
    background-color: rgba(236, 135, 198, 0.7);
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    padding: 5px 5px;
    color: white;
    padding-right: 0px;

}

#gallery-frame-container {
   
    padding: 5px;
}

#autumn-gallery-header-title-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Aligns content to the bottom */
    align-items: center;
    /* Centers content horizontally */
    height: 150px;
    /* Adjust the height as needed */
    margin-top: auto;
    /* Aligns to the bottom */
    background: url('../images/autumn-gallery-title-background-img.jpg') no-repeat center center/cover;
    font-weight: 400;
    font-size: 24px;


    padding-right: 0px;
}

#autumn-gallery-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    display: block;
}











/*wild life styles */

#wildlife-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;

    display: none;

}

/*proverb*/

#proverb {
    position: absolute;

}

#wildlife {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
    background-size: 100px;
   


}

#wildlife #wild-life-title {
    padding: 10px 0px 5px 10px;
    color: #ffffff;
    background: url('../images/deer-fight-background-img.jpg') no-repeat center center/cover;

    width: 100%;
    height: 300px;

}

#wild-life-title h2 p {
    font-size: 1rem;
    color: #ffffff;
    /* Change the color to your desired color */
    margin-top: 200px;
    background-color: rgba(236, 135, 198, 0.4);
    padding: 10px;

}

#wildlife #wild-life-title label {
    display: block;
    width: 100%;
    height: 100%;
}

#wildlife-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    display: none;
   

}

#wildlife #wild-life-title #wild-life-title-text {
    padding: 10px 5px;
    color: #ffffff;
    background-color: rgba(219, 112, 147, 0.3);
    margin-bottom: 20px;
    margin-left: 0;
    /* Align to the far left */


}

/*wild life toggle*/
#toggleCheckbox {
    display: none;
}

#toggleCheckbox:checked+#wild-life-title {
    background-color: rgba(219, 112, 147, 0.3);
    background-image: none;
    /* Hide the background image */
    height: 50px;
    margin-bottom: 0;
}

#toggleCheckbox:checked+#wild-life-title+#wildlife-container {
    display: block;
    margin-top: 0px;
    /* Adjust the value as needed */

}

#toggleCheckbox:checked+#wild-life-title {

    display: block;
}

#toggleCheckbox:checked~#wild-life-title h2::before {
    content: ' X CLOSE ';
    text-decoration: underline;
    display: flex;
    justify-content: flex-end;
    /* Align to the left side */
    padding-right: 5%;
    /* Leave 20% space on the right */
}

#toggleCheckbox:not(:checked)~#wild-life-title h2::before {
    content: 'WILD LIFE ';
    background-color: rgba(4, 101, 2, 0.3);
    display: flex;
    max-width: 100%;
    padding-left: 10px;
    margin-left: 100px;
}




#wildlife-container #wildlife-line-one div {
    color: #333;
    display: flex;
    font-weight: 600;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;

}

#wildlife-container #wildlife-line-two div {
    color: #333;
    display: flex;

    font-weight: 600;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;

}

.animal {


    box-sizing: border-box;
    width: 100%;
    margin-bottom: 80px;

}

#wildlife-line-one #animal-paragraph {
    padding: 5px;
    font-size: 1rem;
}

#wildlife-line-two #animal-paragraph {
    padding: 5px;
    font-size: 1rem;
}

.animal img {
    width: 100%;
    height: 250px;
    border-left: 3px solid white;
    box-shadow: 0 4px 8px rgba(101, 64, 64, 0.2);



}

/* Optional: Style the text inside the divs */
.animal h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-left: 5px;
}

.animal p {
    font-size: 1em;
    line-height: 1.4;
}


/* Styles for the Ways to Explore Section */
#ways-to-explore {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 0;
    box-shadow: 0 4px 8px rgba(193, 166, 166, 0.5);
    color: white;
    background: url('../images/explore-background-img.jpg') no-repeat center center/cover;

}

#ways-to-explore h2 {

    margin-bottom: 10px;
    color: #333;


}

/* Styles for Each Explore Item */
.explore-item {
    flex: 1;
    margin-top: 0px;
    border-bottom: 2px solid white;
    background-color: rgba(0, 11, 0, 0.3);

}

.fa-icon {
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    /* Adjust the margin as needed */

    transform: translateY(-20%);
    /* Adjust for vertical centering */
    padding: 10px;
}

/* Styles for Explore Title */
.explore-title {
    font-size: 1.5rem;
    color: #fbfafa;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    padding-left: 5px;
    background-color: rgba(2, 51, 1, 0.3);


}

#ways-to-explore-title {
    padding: 5px;
    margin-top: 50px;
    background-color: rgba(2, 51, 1, 0.3);
    left: 0;
    width: 80%;
    font-size: 1.5rem;


}

/* Styles for Explore Text */
.explore-text {
    font-size: 1rem;
    color: #fbfafa;
    padding: 10px 5px;
}

/*footer*/
#footer-links {
    background-color: rgba(115, 154, 173, 0.2);
    text-align: center;
    padding: 20px 0;
    z-index: 100;
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#footer-links i {
    font-size: 160%;
    padding: 5%;
    color: #333;
}


/* Your existing styles go here */
#map-section {
    box-shadow: 0 4px 8px rgba(193, 166, 166, 0.5);
    position: relative;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 20px;
    max-width: 100%;
    padding-top: 20px;
    overflow: hidden;
    /* Ensure child elements respect the border-radius */
}

#map-section h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    position: absolute;
    right: 10px;
    padding: 5px;
    color: white;
    background-color: #0056b3;
    top: 30px;
    /* Adjust this value as needed */
}

#map-section.zoomed {
    transform: scale(1.2);
    /* Adjust the scale factor for the desired zoom level */
}

#map {
    width: 100%;
    max-width: 100%;
    /* Adjust the max-width as needed */
    height: 200px;
    /* Adjust the height as needed */
    border: 1px solid #333;
    border-radius: 10px;
    /* Rounded border */

}

/* Styles for the Impression Form */
#impression-form {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Center vertically */
    height: 100vh;
    /* Set the height to 100% of the viewport height */
    max-width: 400px;
    background: url('../images/form-background-img.jpg') no-repeat center center/cover;
    color: #fff;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
}

/* Styles for Form Inputs */
input,
textarea {

    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#input-for-forms {
    width: 100%;
    border: 1px solid white;
    padding: 20px;
    background-color: rgba(41, 40, 40, 0.6);

}

/* Styles for Submit Button */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Styles for Redirect Label */
#redirectLabel {
    display: none;
}

/* Redirect logic when the radio button is checked */
#redirectRadio:checked+#redirectLabel {
    content: url("../index.html");
    /* Replace "index.html" with your actual redirection URL */
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/*gallery styling*/
/* Gallery page */
#photos img {
    width: 100%;
    line-height: 1em;
    height: 250px;
}

#photos {
    line-height: 0;
    margin-top: auto;
}

#gallery-title {
    background: url('../images/gallery-background-img.jpg') no-repeat center center/cover;
    color: #fff;

    padding: 10px;
    margin-bottom: 10px;
}

/*sponsors*/
.sponsors-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px 0;
    margin: 20px 0;
    max-width: 100%;
  
        box-shadow: 0 4px 8px rgba(193, 166, 166, 0.5);
  
}

#sponsor-container {
    width: 100%;
    border: 0.2px solid rgba(210, 198, 198, 1);
    background-color: #333;
    display: flex;
    justify-content: space-between;
    /* or 'space-between' based on your preference */
}

.sponsor {
    border-right: 0.2px solid rgba(210, 198, 198, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    /* Distribute available space equally among all .sponsor divs */
}

#sponsor-title {
    background-color: rgba(1, 9, 5, 0.5);
    font-weight: 300;
    padding-left: 5px;
    color: white;
    margin-top: 20px;
    border: 1px solid rgba(210, 198, 198, 0.5);

}

.sponsor img {
    width: 50px;
    /* Adjust the width as needed */
    height: 50px;
    /* Adjust the height as needed */
    border-radius: 50%;
    align-self: center;
    margin-top: 10px;

}

.sponsor h3 {
    margin-top: 10px;
    font-size: 0.7rem;
    text-align: center;
    color: white
}

/*
<a href="https://www.freepik.com/free-ai-image/animal-portrait-close-up_48012443.htm#fromView=search&term=wild+animal+black+and+white&page=1&position=48&track=ais_ai_generated&regularType=ai">Image By freepik</a>
<a href="https://www.freepik.com/free-ai-image/vibrant-flowers-bloom-tranquil-meadow-generated-by-ai_42129911.htm#fromView=search&term=wild+flowers&page=1&position=6&track=ais_ai_generated&regularType=ai&uuid=86e2cd12-1144-4486-bbd6-144e5fdf10cc">Image By vecstock</a>
<a href="https://www.freepik.com/free-ai-image/view-wild-antilope_65693886.htm#fromView=search&term=eild+park&page=1&position=40&track=ais_ai_generated&regularType=ai&uuid=926833bb-f033-472a-b653-8107580111fc">Image By freepik</a>
<a href="https://www.freepik.com/free-photo/lake-fog-sunrise-with-autumn-foliage-mountains-new-england-stowe_30071761.htm#query=autumn&position=43&from_view=search&track=sph&uuid=3f2a173e-227d-4d37-81c3-d646701271e4">Image by TravelScape</a> on Freepik
<a href="https://www.freepik.com/free-photo/selective-focus-shot-oak-leaf-illuminated-by-golden-light-autumn-sunset-forest_19538511.htm#page=2&query=autumn&position=2&from_view=search&track=sph&uuid=f30418b3-15a1-4b35-90b4-f716a04edec8">Image by wirestock</a> on Freepik
<a href="https://www.freepik.com/free-photo/vibrant-autumn-leaves-illuminate-tranquil-forest-dusk-generated-by-ai_41205925.htm#query=autumn&position=35&from_view=search&track=sph&uuid=3f2a173e-227d-4d37-81c3-d646701271e4">Image by vecstock</a> on Freepik
<a href="https://www.freepik.com/free-vector/letter-q-logo-concept_1224584.htm#query=logo%20for%20companies%20fake%20names&position=20&from_view=search&track=ais&uuid=20c0fcac-6652-40dd-a084-062a423df1bb">Image by starline</a> on Freepik
<a href="https://www.freepik.com/free-vector/letter-q-logo-concept_1224584.htm#query=logo%20for%20companies%20fake%20names&position=20&from_view=search&
track=ais&uuid=20c0fcac-6652-40dd-a084-062a423df1bb">Image by starline</a> on Freepik
<a href="https://www.freepik.com/free-vector/boycott-text-white-background-vector-illustration_27884043.htm#query=logo%20for%20companies%20fake%20names&position=4&from_view=search&track=ais&uuid=b345e39b-7015-45e2-9e1e-45d09e82d941">Image by Rochak Shukla</a> on Freepik
Image by <a href="https://www.freepik.com/free-vector/creative-nerd-logo-template_21250386.htm#query=logo%20for%20companies%20fake%20names&position=3&from_view=search&track=ais&uuid=a2215576-ed22-4081-b5cf-8947f63de1c0">Freepik</a>
Image by <a href="https://www.freepik.com/free-vector/logo-template_33601695.htm#fromView=search&term=logo+for+companies+fake+names&page=1&position=2&track=ais&regularType=vector">Freepik</a>
<a href="https://www.freepik.com/free-ai-image/flat-vector-forest-river-illustration_72868175.htm#fromView=search&term=ilustration+nature&page=1&position=0&track=ais_ai_generated&regularType=ai">Image By vector_corp</a>
<a href="https://www.freepik.com/free-ai-image/tranquil-scene-flowing-water-forest-generated-by-ai_42178126.htm#fromView=search&term=FOrest+ireland&page=1&position=4&track=ais_ai_generated&regularType=ai">Image By vecstock</a>
<a href="https://www.freepik.com/free-ai-image/view-wild-bird_65693658.htm#fromView=search&term=heron&page=1&position=0&track=ais_ai_generated&regularType=ai">Image By freepik</a>
<a href="https://www.freepik.com/free-ai-image/wild-elk-nature-with-wilderness-landscape_78536455.htm#fromView=search&term=deer+fight&page=1&position=11&track=ais_ai_generated&regularType=ai">Image By freepik</a>
<a href="https://www.freepik.com/free-ai-image/vibrant-daisy-blossom-tranquil-meadow-sunset-generated-by-ai_42735337.htm#fromView=search&term=nature&page=2&position=26&track=ais_ai_generated&regularType=ai">Image By vecstock</a>
<a href="https://www.freepik.com/free-ai-image/abstract-creative-3d-sphere-with-vegetation_72442070.htm#fromView=search&term=fern&page=1&position=32&track=ais_ai_generated&regularType=ai">Image By freepik</a>
<a href="https://www.freepik.com/free-ai-image/standing-backpacker-mountain-peak-achieving-success-generated-by-ai_43018009.htm#fromView=search&term=explore&page=1&position=3&track=ais_ai_generated&regularType=ai">Image By stockgiu</a>
<a href="https://www.freepik.com/free-vector/forest-animals-color-set-with-isolated-images-small-big-wild-animals-with-flowers-leaves-vector-illustration_26762879.htm#page=2&query=animals%20pictograms&position=6&from_view=search&track=ais">Image by macrovector</a> on Freepik
<a href="https://www.freepik.com/free-photo/heron-everglades_28944507.htm#query=heron&position=0&from_view=search&track=sph">Image by kamchatka</a> on Freepik
Image by <a href="https://www.freepik.com/free-vector/hand-drawn-flat-autumn-background_18999571.htm#page=2&query=autumn&position=26&from_view=search&track=sph&uuid=f30418b3-15a1-4b35-90b4-f716a04edec8#position=26&page=2&query=autumn">Freepik</a>

*/

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 425px) {

    /* Gallery page */
    #photos img {
        width: 100%;
        line-height: 1em;
        height: 350px;
    }

}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    .sponsor img {
        width: 70px;
        /* Adjust the width as needed */
        height: 70px;
        /* Adjust the height as needed */
        border-radius: 50%;
        align-self: center;
        margin-top: 10px;
    
    }

    #wildlife-line-one {

        display: flex;
        flex-direction: row;
    }

    #wildlife-line-two {

        display: flex;
        flex-direction: row;
    }

    #toggleCheckbox:checked+#wild-life-title+#wildlife-container {


        margin-top: 0px;
    }

    .about-np-section {

        margin-bottom: 100px;
        overflow: hidden;
        padding-top: 70px;
     

    }

    #photos img {
        width: 100%;
        line-height: 1em;
        height: 250px;
    }

    .about-np-circle {

        display: flex;
        width: 150px;
        height: 150px;
        border-radius: 0%;
        overflow: hidden;
        margin: 20px;
        float: left;
    }

    .about-np-image {

        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0%;

    }

    #about-np-circle-bottom {
        width: 100%;
        height: 250px;
margin-bottom: 10px;

    }

    .ilustration-bottom-img {
        box-shadow: 0 4px 8px rgba(101, 64, 64, 0.7);
        /* Adjust the values as needed */
        width: 50%;
        height: 50%;
        object-fit: cover;
        border-radius: 50%;
        display: flex;
        align-self: center;
        overflow: hidden;
        margin: 20px;

    }

    .about-np-description {
        font-size: 1.2rem;
        color: #333;
        padding: 5px;
    }

    .about-np-circle {
        width: 750px;
        height: 300px;
        display: flex;

        border-radius: 0%;
        overflow: hidden;

        margin: 4px;
        margin-top: 20px;
        float: left;
    }

    #ilustration-bottom-container {
        width: 100%;
        height: 100%;
        margin: 40px 0px;
        display: flex;

        justify-content: center;
        /* Center horizontally */
        align-items: center;
        /* Center vertically */
    }

    #map-section {
        position: relative;
        flex: 1;
        display: flex;
        flex-wrap: wrap;

        align-items: center;
        flex-direction: row;
        margin-bottom: 30px;
        margin-top: 0px;
        max-width: 100%;
        padding-top: 0px;
        overflow: hidden;
    }



    #map {
        width: 100%;
        max-width: 100%;
        /* Adjust the max-width as needed */
        height: 200px;
        /* Adjust the height as needed */
        border: 1px solid #333;
        border-radius: 10px;
        /* Rounded border */

    }

    #map-section h2 {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        position: absolute;
        right: 10px;
        padding: 5px;
        color: white;
        background-color: #0056b3;
        top: 40px;
    }

    /*gallery styles*/
    #photos {
        column-count: 3;
        column-gap: 0;
        /* Set the gap between columns to 0 */
        z-index: 12;
    }

    #photos img {
        transition: transform 0.3s ease-in-out;
        z-index: 1;
        /* Set a base z-index */

    }

    #photos img:hover {

        transform: scale(1.2);
        z-index: 2;
        /* Increase the z-index on hover */
        box-shadow: 0 0 10px rgba(221, 11, 11, 0.3);
    }

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #spotted {
        height: 120%;
        display: flex;
        width: 100%;

    }

    #spotted-text {
        color: white;
        display: flex;
        padding: 15px;
        border-bottom: 1px solid wheat;
        background-color: rgba(236, 135, 198, 0.4);
        width: 100%;
        font-weight: 600;

        /* Set the width to 70% */

    }

    /* Hide the icon on larger screens */
    .nav-toggle-label::before,
    .nav-toggle-label-form::before {
        display: none;
    }

    /* Show the navigation menu on larger screens */
    nav {
        display: flex;
    }

    #input-for-forms {
        width: 40%;
        border: 1px solid white;
        padding: 20px;

    }

    /* Form background */
    #form-background-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Added to make the image cover the entire container */

    }

    #impression-form {
        margin-top: 2px;
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        max-width: 100vw;
        background: url(../images/form-background-img.jpg) no-repeat center center/cover;
        color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        flex: 1;
        background-size: cover;
        /* Ensure the background covers the entire container */



    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    iframe {
        width: 100%;

    }

    .ilustration-bottom-img {
        box-shadow: 0 4px 8px rgba(101, 64, 64, 0.7);
        width: 30%;
        height: 30%;
        object-fit: cover;
        border-radius: 50%;
        display: flex;
        align-self: center;
        overflow: hidden;
        margin: 20px;
    }

    .fa-icon {
        font-size: 1.5rem;
        position: absolute;
        right: 30px;
        transform: translateY(-20%);
        padding: 10px;
    }

    /*form styles*/
    #input-for-forms {
        width: 50%;
        border: 1px solid white;
        padding: 20px;




    }

    /* Form background */
    #form-background-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Added to make the image cover the entire container */

    }

    #impression-form {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(../images/form-background-img.jpg) no-repeat center center/cover;
        background-size: cover;
        /* Ensure the background covers the entire container */
        color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;

    }

    #main-content-container {
        display: flex;
        flex-grow: 1;
        
        margin-bottom: 66px;
        align-items: stretch;
        padding: 20px;

    }

    #main-content-container h2 {
        position: absolute;
    }

    #spotted {
        flex: 1;
        display: flex;


    }

    #spotted-div {
        margin-bottom: 20px;

        /* Adjust as needed for spacing between spotted-divs */
    }

    #user-description {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 16px;
        font-style: italic;
        font-weight: 100;
        color: #333;
    }

    #autumn-gallery-header-title-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 250px;
        margin-top: auto;
        background: url(../images/autumn-gallery-title-background-img.jpg) no-repeat center center/cover;
        font-weight: 400;
        font-size: 35px;
        padding-right: 0px;
    }

    #autumn-in-the-park {
        flex: 1;
        display: flex;
        flex-direction: row;

    }

    .image-container {
        display: flex;

        flex-direction: column;
        overflow: hidden;
        margin-top: 30px;
        border-radius: 15px;
        margin-bottom: 0px;


    }


    img {
        max-width: 100%;
        height: auto;
    }
    .sponsor img {
        width: 100px;
        /* Adjust the width as needed */
        height: 100px;
        /* Adjust the height as needed */
        border-radius: 50%;
        align-self: center;
        margin-top: 10px;
    
    }
    .animal img {
        width: 100%;
        height: 250px;
        border-left: 0px solid white;
        box-shadow: 0 4px 8px rgba(101, 64, 64, 0.2);
    }
    /* Styles for Wildlife Section */
    #wildlife {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 30px;
    }

    #wild-life-title {
        padding: 10px 0 5px 10px;
        color: #ffffff;
        background: url('../images/deer-fight-background-img.jpg') no-repeat center center/cover;

        width: 100%;
        max-height: 70px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #wild-life-title h2 p {
        font-size: 1rem;
        color: #ffffff;
        margin-top: 0;
        background-color: rgba(236, 135, 198, 0.4);
        padding: 10px;
        display: none;
    }

    #wildlife-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 30px;


    }

    #wildlife-container #wildlife-line-one,
    #wildlife-container #wildlife-line-two {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    #wildlife-container .animal {
        box-sizing: border-box;
        width: 80%;
        margin-bottom: 20px;
        margin: 10px 10px;
    }

    #wildlife-container .animal img {
        width: 100%;
        height: 300px;
        object-fit: cover;

    }

    #wildlife-container .animal h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        margin-left: 5px;
    }

    #wildlife-container .animal p {
        font-size: 1rem;
        line-height: 1.4;
        padding: 0 5px;
    }

    #wildlife-container #middle-p {
        font-size: 1rem;
        background-color: rgba(219, 112, 147, 0.8);
        border-radius: 15px;
        border: 1px solid #fbfafa;
        height: 70%;
        width: 100%;
        align-self: center;
        margin-bottom: 10px;
    }

    #wildlife-container #middle-p h2 {
        padding: 5px;
        font-size: 1.5rem;
    }

    #wildlife-container #wildlife-line-one #animal-paragraph,
    #wildlife-container #wildlife-line-two #animal-paragraph {
        padding: 5px;
        font-size: 1rem;
    }

    #toggleCheckbox:checked+#wild-life-title {
        background-color: rgba(219, 112, 147, 0.7);
        background-image: none;
        height: 150px;
        margin-bottom: 0;
    }

    #toggleCheckbox:checked~#wild-life-title h2::before {
        content: 'WILD LIFE ';
        font-size: 180%;
        display: block;
        justify-content: flex-start;
        padding: 0px 0 0px 0px;
        /* Added padding */
        text-decoration: none;
        padding-left: 5%;


    }



    #toggleCheckbox:checked+#wild-life-title+#wildlife-container {
        display: block;
        margin-top: 70px;

    }

    #bottom-section {

        align-items: stretch;
        padding: 20px;
        flex-direction: row;
        justify-content: center;


    }

    #ways-to-explore {
        flex: 1;
        display: flex;
        flex-direction: column;
        box-shadow: none;

    }

    #map-section {
        position: relative;
        flex: 1;
        margin-top: 30px;

        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding: 0;
        margin-bottom: 0;
        max-width: 100%;
        overflow: hidden;

        box-shadow: 0 4px 8px rgba(101, 64, 64, 0.3);

    }

    #map {
        max-width: 100%;
        width: 450px;
        height: 450px;
        margin-top: 30px;

        border: 1px solid #333;
        border-radius: 0%;


    }


    header {
        background-color: #ffffff;
        padding: 0 1rem;
        z-index: 100;
        width: 100%;

        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

    }

    #map-section h2 {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        text-align: center;
        top: 30px;
        padding: 3px;
        margin-right: 110px;

    }


    #photos {
        column-count: 3;
        column-gap: 0;
        /* Set the gap between columns to 0 */
        z-index: 12;
    }

    #photos img {
        transition: transform 0.3s ease-in-out;
        z-index: 1;
        /* Set a base z-index */

    }

    #photos img:hover {

        transform: scale(1.2);
        z-index: 2;
        /* Increase the z-index on hover */
        box-shadow: 0 0 10px rgba(221, 11, 11, 0.3);
    }

}

/* Media query: larger screens (1200px and up) */
@media screen and (min-width: 1200px) {

    /*about NP Killarney*/

    .about-np-section {
        background-color: white;
        overflow: hidden;
    }

    .about-np-circle {
        width: 650px;
        height: 300px;
        border-radius: 0%;
        overflow: hidden;
        margin: 20px;
        float: left;
    }

    .about-np-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0%;
    }

    #about-np-circle-bottom {
        width: 100%;

        height: 350px;
        box-shadow: 0 4px 8px rgba(164, 155, 155, 0.2);
        float: right;
       margin-bottom: 10px;

    }

    .about-np-text {
        text-align: justify;
        margin: 20px;

        font-size: 200%;
    }

    /*Animal container*/

    .animal img {

        border-left: 0px solid white;
    }

    #wildlife-container .animal img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    #wildlife-container #wildlife-line-one #animal-paragraph,
    #wildlife-container #wildlife-line-two #animal-paragraph {
        padding: 5px;
        font-size: 1.3rem;
    }

    .about-np-title {
        box-shadow: 0 4px 8px rgba(101, 64, 64, 0.2);
        font-size: 2.5rem;
        font-weight: bold;
        padding: 20px 55px;
        background-color: rgba(2, 51, 1, 0.3);
        background: url(../images/ilustration-background.jpg) no-repeat center center/cover;
        text-align: end;
        width: 100%;
    }

    .about-np-description {
        font-size: 26px;
        color: #555;
        shape-outside: circle(50%);
        margin-right: 20px;
    }

    /* Add or modify styles for even bigger screens here */
    #spotted {
        /* Example styles for even bigger screens */
        height: 150%;
        background-color: lightblue;
    }

    #spotted-text {
        /* Example styles for even bigger screens */
        font-size: 1.2rem;
    }

    #photos {

        align-self: center;
        column-count: 5;
        column-gap: 0;
        width: 100%;
        /* Set a maximum width if needed */
        margin: 0 auto;
        /* Center the gallery horizontally */
        /* Set the gap between columns to 0 */
    }

    #photos img {
        transition: transform 0.3s ease-in-out;
    }

    #photos img:hover {

        transform: scale(1.2);
        z-index: 2;
        /* Increase the z-index on hover */
        box-shadow: 0 0 10px rgba(221, 11, 11, 0.3);
        border: 1px solid wheat;
    }


    /*SPONSORS*/
    .sponsor img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        align-self: center;
        margin-top: 10px;
    }
}
@media screen and (min-width: 1600px) {

    /* Add or modify styles for screens larger than 1600px here */

    .about-np-title {
        font-size: 4rem; /* Example: Increase font size for even larger screens */
    }

    #spotted {
        height: 200%; /* Example: Adjust height for even larger screens */
        background-color: lightcoral;
    }

    #photos {
    
        column-count: 5; /* Example: Increase the number of columns for even larger screens */
    }

    .sponsor img {
        width: 200px; /* Example: Increase sponsor image size for even larger screens */
        height: 200px;
    }
    .about-np-circle {
        width: 750px;
        height: 646px;
        border-radius: 0%;
        overflow: hidden;
        margin: 20px;
        float: left;
    }
    #about-np-circle-bottom {
        width: 62%;
        height: 375px;
        box-shadow: rgba(164, 155, 155, 0.2) 0px 4px 8px;
        float: right;
        margin-bottom: 10px;
    }
    #spotted {
        height: 750px;
       
    }
    #spotted-text {
        font-size: 2.2rem;
        width: 80%;
    }
    #spotted h5 {
       
        font-size: 2.5rem;
      
    }
}